<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />      
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="ResultDir" value="Result" />
    
    <add key="MinutesToDebug" value="120" />
    
    <add key="AgentDirectory" value="%programFiles%\apd\agent" />
    
    <add key="TskMgrMinutesTotal" value="2" />
    <add key="TskMgrMinutesInterval" value="1" />
    
    <add key="MinutesToProcmon" value="1" />

    <add key="DumpProcessPID" value="" />
    <add key="DumpProcessName" value="chrome" />
    <add key="DumpProcessMinutesTotal" value="60" />
    <add key="DumpProcessMinutesInterval" value="22" />

    <add key="DependencyDllId" value="2037" />

    <add key="OfflineModeMinutes" value="60" />
    
  </appSettings>

    <log4net>
    <!-- RollingFile is set to be a File Appender -->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/AgentInfoCollector.log" />
      <appendToFile value="true" />
      <maximumFileSize value="5MB" />
      <maxSizeRollBackups value="10" />
      <datePattern value="ddMMyyyy" />
      <layout type="log4net.Layout.PatternLayout">        
        <param name="ConversionPattern" value="%d [%t] %-5p- [%c::%M]  -  %message%newline" />
      </layout>
    </appender>
    <!-- Set root logger level to DEBUG and its only appender to RollingFile -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
</configuration>